<% layout('layouts/boilerplate') %>



    <div style="direction: rtl;" class="row">
        <h1 style="direction: rtl;" class="text-center">ویرایش کمپ</h1>
        <div style="direction: rtl;" class="col-6 offset-3">
            <form class="validated-form" action="/campgrounds/<%= campground._id %>?_method=PUT " method="POST"
                novalidate>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="title">عنوان</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="location">مکان</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%= campground.location %>" required>
                    <div style="direction: rtl;" class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: ltr;" class="form-label" for="image">برای عکس url</label>
                    <input class="form-control" type="text" name="campground[image]" id="image"
                        value="<%= campground.image %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction:rtl;" class="form-label" for="price">قیمت کمپ</label>
                    <div class="input-group mb-3">
                        <span style="direction: rtl;" class="input-group-text " id="Price-label">&#65020;</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="Price"
                            aria-describedby="price-label" id="price" name="campground[price]"
                            value="<%= campground.price %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="description">توضیحات</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required> <%= campground.description %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <button style="direction: rtl;" class="btn btn-info">ویرایش کمپ</button>

                </div>
            </form>
            <a class="mb-4" style="direction: rtl;" href="/campgrounds/<%= campground._id %> ">بازگشت به کمپ</a>
        </div>
    </div>