<% layout('layouts/boilerplate') %>



    <div style="direction: rtl;" class="row">
        <h1 style="direction: rtl;" class="text-center">ویرایش کمپ</h1>
        <div style="direction: rtl;" class="col-6 offset-3">
            <form class="validated-form" action="/campgrounds/<%= campground._id %>?_method=PUT " method="POST"
                novalidate enctype="multipart/form-data">
                <div id="map"></div>
                <pre id="coordinates" class="coordinates"></pre>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="title">عنوان</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3" style="display: none;">
                    <label style="direction: rtl;" class="form-label" for="locationLng">طول جغرافیایی</label>
                    <input class="form-control" type="text" name="campground[locationLng]" id="locationLng" value="<%= campground.locationLng %> " required>
                    <label style="direction: rtl;" class="form-label" for="locationLaat">عرض جغرافیایی</label>
                    <input class="form-control" type="text" name="campground[locationLat]" id="locationLat" value="<%= campground.locationLat %> " required>
                    <div class="valid-feedback">
                        بنظر خوب میاد!
                    </div>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="description">توضیحات</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required> <%= campground.description %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">اضافه کردن عکس</label>
                    <input class="form-control" name="image" type="file" id="image" multiple>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i){ %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">حذف؟</label> 
                    <% }) %>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <button style="direction: rtl;" class="btn btn-info">ویرایش کمپ</button>
                </div>
            </form>
            <a class="mb-4" style="direction: rtl;" href="/campgrounds/<%= campground._id %> ">بازگشت به کمپ</a>
        </div>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    </script>
    <script src="/javascripts/newCampMap.js"></script>