<% layout('layouts/boilerplate') %>


    <div style="direction: rtl;" class="row">
        <h1 style="direction: rtl;" class="text-center">ویرایش اطلاعات کاربر</h1>
        <div style="direction: rtl; padding-bottom: 10px;" class="col-6 offset-3">
            <form class="validated-form" action="/users/<%= user._id %>?_method=PUT " method="POST" novalidate>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="username">نام کاربری</label>
                    <input class="form-control" type="text" name="username" id="username" value="<%= user.username %>"
                        required>
                    <div class="valid-feedback">
                        بنظر خوب میاد!
                    </div>
                </div>
                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="email">ایمیل</label>
                    <input class="form-control" type="email" name="email" id="email" value="<%= user.email %>" required>
                    <div style="direction: rtl;" class="valid-feedback">
                       بنظر خوب میاد!
                    </div>
                </div>

                <div style="direction: rtl;" class="mb-3">
                    <label style="direction: rtl;" class="form-label " for="password">رمز عبور</label>
                    <input class="form-control mb-5" type="password" name="password" id="password" pattern=".{8,}"  required>
                    <div class="valid-feedback">
                        بنظر خوب میاد!
                    </div>
                </div>
                <button class="btn btn-success">ویرایش</button>
                
            </form>
        </div>
            <div>
                <a class="btn btn-outline-secondary mb-4" href="/users/<%= user._id %> ">بازگشت به صفحه قبل</a>
                <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger mb-3">حذف کاربر</button>
                </form>
            </div>
    </div>
            